src/main/java/META-INF/apple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://github.com/chirongqi/schema/apple"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://github.com/chirongqi/schema/apple">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:complexType name="appleType">
		<xsd:attribute name="id" type="xsd:ID">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The registry name. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="color" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[ The registry default color. ]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

	</xsd:complexType>


	<xsd:element name="apple" type="appleType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[ The "apple" config ]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>

</xsd:schema>